@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    margin: 0;
    height: 100vh;
    border: red 0px solid;
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-color:
    --accent-color:
}

body, .main, .right, .left{
    display: flex;
}

.main {
    border: purple 0px solid;
    flex: 1;
    
}

.left {
    flex: 1;
    border: green 0px solid;
    background-image: url("./images/x-N4QTBfNQ8Nk-unsplash.jpg");
    background-size: cover;
    flex-direction: column;
    position: relative;
}

.title-left {
    
    background-color: rgba(0, 0, 0, 0.473);
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    color: whitesmoke;

}

.right {
    flex: 2;
    border: blue 0px solid;
    flex-direction: column;

}




p {
    margin: 0;
}
.header {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 600;
    background-color: rgba(173, 216, 230, 0.562);
    color: black;
    padding: 6vh 6vw 6vh 6vw;
    padding-top: 15vh;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    gap: 3vh;
}





.form-div {
    
    display: flex;
    flex: 1;
    border: 0px red solid;
    padding: 6vh 6vw 6vh 6vw;
}

.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 0px blue solid;
}

.fields-div {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

div.fields-div>div {
    display: flex;
    border: 0px blue solid;
    gap: 1rem;
}

div.fields-div>div>div {
    display: flex;
    flex-direction: column;
}

div.fields-div>div>input {
    margin-bottom: 2rem;
}

input {
border-radius: 10px;
border: 1px lightgreen solid;
padding: 4px 6px 4px 6px;
outline: 0;

}

input:invalid {
    box-shadow: 0 0 3px 1px lightblue;
  }

input::placeholder {
    font-size: 0.7rem;
    font-style: italic;
    color: rgb(182, 182, 182);
}

label{
    font-weight: 700;
    color: grey;
    font-size: 0.8rem;
}

button {
    margin-top: 1.5rem;
    background-color: lightblue;
    box-shadow: 0 0 5px 2px lightblue;
    border-radius: 20px;
    font-size: 1.2rem;
    color: rgb(66, 66, 66);
    border: 1px white solid;
    padding: 0.6rem 3rem;
    cursor: pointer;
}

button:hover{
    background-color: lightblue;
}

.form h2 {
    margin-bottom: 2rem;
}